@mixin font($size, $weight, $height, $color){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin background($size, $repeat, $position){
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}