@charset "UTF-8";
@font-face {
  font-family: 'archer';
  src: url(../fonts/Archer-Medium.woff); }

@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamMedium.ttf); }

@font-face {
  font-family: 'gothambook';
  src: url(../fonts/GothamBook.ttf); }

@font-face {
  font-family: 'roboto';
  src: url(../fonts/Roboto-Regular.ttf); }

body {
  background-color: #ffffff;
  font-family: 'gotham', sans-serif;
  font-size: 1rem;
  color: #000000;
  margin: 0; }

h1 {
  font-size: 2.254rem;
  font-weight: 600;
  color: #000000;
  font-family: "archer";
  text-align: center; }
  h1 span {
    color: #e2001a; }

h2 {
  font-family: "archer";
  font-size: 1.875rem;
  font-weight: 600;
  color: #ffffff; }

h3 {
  font-family: "roboto";
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all; }
  a:hover, a:active, a:focus {
    color: #e2001a;
    text-decoration: none; }
  a:focus {
    box-shadow: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn-border {
  border-bottom: 1px solid #e2001a;
  color: #e2001a;
  padding: .5rem;
  font-size: 0.8rem;
  border-radius: 0%;
  text-transform: uppercase; }
  .btn-border:hover {
    color: #e2001a; }
  .btn-border:focus {
    box-shadow: none; }

.btn-border-img {
  width: 18px;
  padding-bottom: 5px; }

.btn-social {
  padding: 5px 5px; }

.block-flex {
  display: flex; }

.bulle-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 41px;
  left: -37px;
  background-color: #ffffff;
  width: 270px;
  padding: 24px 24px;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s; }
  .bulle-info::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent; }

.bulle:hover .bulle-info {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 10px;
  left: 11px;
  text-align: center;
  z-index: 1;
  width: 96px;
  padding: 12px 0; }
  .bulle:hover .bulle-info a {
    font-style: italic;
    line-height: 2rem; }

header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-end; }

.logo {
  width: 193px;
  height: 90px;
  background: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.menu-y {
  padding-left: 10px;
  font-size: 0.875rem;
  font-style: italic;
  width: 93px;
  display: none; }
  .menu-y li {
    padding: 4px 0; }
  .menu-y a:hover {
    text-decoration: underline; }

.btn-social:first-child {
  border-right: 1px solid #000000; }

.btn-social i {
  padding: 13px 0px; }

.btn-red {
  background-color: #e2001a;
  color: #ffffff;
  border-radius: 0%; }
  .btn-red:hover, .btn-red:focus {
    color: #ffffff; }

.burger img {
  width: 2.5rem; }

.navbar {
  padding: 0.5 0; }
  .navbar li + li::before {
    content: "-";
    color: #e2001a;
    margin: 0 7px; }

.menu {
  display: none; }

nav {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #000000;
  margin-top: 20px; }
  nav .navbar {
    justify-content: flex-end;
    padding-right: 0; }
    nav .navbar li + li::before {
      margin: 0 15px; }
    nav .navbar li a {
      padding-bottom: 30px; }
    nav .navbar li:hover .bulle-info {
      display: block;
      opacity: 1;
      visibility: visible;
      left: 60px;
      text-align: left;
      z-index: 1; }
      nav .navbar li:hover .bulle-info li::before {
        content: "•|";
        color: #e2001a;
        margin: 0 7px; }

.menu-responsive {
  display: flex;
  justify-content: flex-end; }
  .menu-responsive .block-buy {
    display: none; }

.nb-responsive ul li {
  text-align: center;
  height: 3.5rem;
  line-height: 3.5rem; }
  .nb-responsive ul li:hover {
    background-color: #e2001a; }
    .nb-responsive ul li:hover a {
      color: #ffffff;
      transition: 0s all;
      -webkit-transition: 0s all;
      -o-transition: 0s all;
      -moz-transition: 0s all;
      -ms-transition: 0s all; }

.slider {
  margin-bottom: 0 !important; }
  .slider .caption {
    padding: 1rem;
    background-color: #e2001a;
    width: 100%;
    height: 115px;
    text-align: left;
    position: relative;
    top: 225px; }
    .slider .caption h2, .slider .caption h3 {
      font-size: 0.8rem; }
  .slider .slick-prev, .slider .slick-next {
    right: 0px;
    display: none !important; }
  .slider .slick-dots {
    position: relative;
    top: -37px; }
    .slider .slick-dots button::before {
      font-size: 12px;
      color: #ffffff; }
  .slider div {
    width: 100%;
    height: 336px; }
  .slider .image-1 {
    background: url("../img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  .slider .image-2 {
    background: url("../img/photo7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }

#programmation {
  background-color: #ffffff;
  top: 0px;
  position: relative;
  padding-top: 0px;
  padding-bottom: 60px; }
  #programmation .container {
    padding: 0;
    margin: 0; }

.calendar {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center; }
  .calendar > div:last-child {
    margin: 0 auto; }

.block-dates {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px; }

.btn-date {
  background-color: #dadada;
  text-transform: uppercase;
  display: flex; }
  .btn-date a {
    font-family: "roboto";
    padding: 10px;
    width: 100%;
    text-align: center; }

.previus {
  border-bottom: 1px solid #000000;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center; }

.next {
  border-top: 1px solid #000000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px; }

.btn-arrow {
  width: 40px;
  height: 20px; }

.btn-arrow-next {
  background: url("../img/down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.btn-arrow-previus {
  background: url("../img/up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

/********************* TABLET & SMALLER LAPTOPS *********************/
@media only screen and (min-width: 768px) {
  .menu-responsive {
    justify-content: space-between; }
    .menu-responsive .block-buy {
      display: flex; }
  .menu-y {
    display: block; }
  .logo {
    border-right: 1px solid #000000; }
  .slider div {
    width: 100%;
    height: 450px; }
  .slider .caption {
    padding: 4rem;
    padding-top: 9rem;
    width: 310px;
    height: 5100%;
    float: right;
    top: 0; }
  .slider .slick-dots {
    top: -183px;
    padding-right: 191px; }
    .slider .slick-dots li {
      float: right; }
  #programmation {
    top: -100px;
    padding-top: 30px; }
  .calendar {
    width: 50%;
    margin: 0 auto; } }

/********************* DESKTOP *********************/
@media only screen and (min-width: 1200px) {
  header {
    grid-template-columns: 25% 75%; }
    header .burger {
      display: none; }
  .menu {
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 8% 70% 22%;
    grid-template-rows: 50px 70px; }
    .menu .pdf {
      grid-column-start: 2;
      align-items: center; }
    .menu div:first-child {
      justify-content: space-between; }
    .menu .submenu {
      justify-content: flex-end;
      font-family: "gothambook"; }
    .menu .block-buy {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-gap: 5px;
      align-content: center; }
      .menu .block-buy div {
        justify-content: flex-end; }
  .menu-responsive {
    display: none; }
  .slider .caption {
    padding: 4rem;
    padding-top: 9rem;
    width: 450px;
    height: 5100%;
    top: 0; }
    .slider .caption h2 {
      font-size: 1.875rem; }
    .slider .caption h3 {
      font-size: 1.125rem; }
  .slider div {
    width: 100%;
    height: 572px; }
  .slider .slick-dots {
    top: -208px;
    padding-right: 216px; }
  .calendar {
    grid-template-columns: 5% 66% 5% 22%;
    column-gap: 10px;
    width: 100%;
    padding: 30px 0px 0px 60px; }
  .block-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px; }
  .btn-date a {
    font-size: 0.8rem; }
  .btn-arrow-next {
    background: url("../img/next.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 0px; }
  .btn-arrow-previus {
    background: url("../img/previus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 0px; }
  .previus {
    border-right: 1px solid #000000;
    margin-right: 22px;
    border-bottom: 0px;
    margin-bottom: 0px; }
  .next {
    border-left: 1px solid #000000;
    margin-left: 22px;
    border-top: 0px;
    margin-top: 0px; } }
